$_white: #f0f0f1;
$_gray: #e0e0e0;
$_dark-gray: #a8a8a8;
$_light-gray: #eeecec;
$_black: #222222;
$_pale-mint: #54ec68;
$_mint: #38cb5a;
$_dark-green: #254a39;
$_shadow-green: 0 0 0 0.25rem rgba(56, 203, 68, 0.45);
$_shadow-mint: 0 0 0 0.25rem rgba(56, 150, 58, 0.45);
$_shadow-gray: 0 0 0 0.25rem rgba(240, 240, 241, 0.25);
