@import "src/colors.scss";
@import "bootstrap";


@mixin button-style(
  $color,
  $bg-color,
  $focus-shadow-color,
  $hover-bg-color,
  $pseudo-class-color: false
) {
  color: $color;
  background-color: $bg-color;
  width: 100%;
  border: none;
  &:focus {
    box-shadow: $focus-shadow-color;
    @if $pseudo-class-color {
      color: $pseudo-class-color;
    }
  }
  &:hover {
    background-color: lighten($hover-bg-color, 2%);
    @if $pseudo-class-color {
      color: $pseudo-class-color;
    }
  }
}

.form-control {
  &:focus {
    box-shadow: $_shadow-green;
    border: none;
    outline: 0;
  }
}

.form-check-input {
  &:checked {
    border-color: $_mint;
    background-color: $_mint;
    box-shadow: $_shadow-green;
  }
}

.btn.btn-primary {
  @include button-style($_white,$_mint, $_shadow-mint,$_mint, $_white);
}

.btn.btn-secondary {
  @include button-style($_white, $_pale-mint, $_shadow-mint, $_pale-mint, $_white);
}

.btn.btn-light {
  @include button-style($_black, $_white, $_shadow-gray, $_white);
}

@media (min-width: map-get($grid-breakpoints, sm)) {
  .btn.btn-primary,
  .btn.btn-secondary,
  .btn.btn-light {
    width: 10rem;
  }
}

.text-white {
  color: $_white;
}

.background {
  background-color: $_dark-green;
}

.c-pointer {
  cursor: pointer;
}

.text-gray {
  color: $_gray;
  font-style: italic;
}

.item-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
